 <header>
        <div class="container">
            <ul class="control-bar">
                <li><a routerLink="/login" class="btn border" routerLinkActive="active"><span class="help">LOG in</span></a></li>
                <li><a routerLink="/signup" class="btn green" routerLinkActive="active"><span class="help">Join now for free</span></a></li>
            </ul>
            <a class="logo w-icons-logotype" routerLink="/landing"><img src="img/logo.png" alt=""/></a>
            <nav class="nav navbar-nav">
                <div class="toggle-nav">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </div>
                <ul>

                    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                    <li><a routerLink="/powerofeeds"  routerLinkActive="active" >Live Posting</a></li>
                    <li><a routerLink="/contact" >Contact</a></li>
                    <li>
                        <ul class="control-bar">
                            <li><a href="/signup" class="btn green"><span class="help">Join now for free</span></a></li>
                            <li>or</li>
                            <li><a href="/login" class="btn border" ><span class="help">LOG in</span></a></li>
                        </ul>


                    </li>
                </ul>
            </nav>

        </div>
</header>