    <!-- Page Content -->
    <div class="container">
        <div class="error-404 clearfix">
            <div class="error-img">
                <img src="/img/error-man.jpg" alt=""/>
            </div>
            <h1>Oops!</h1>
            <h3>We can't seem to find the page youre looking for.</h3>
            <h6>Error code: 404</h6>
            <p>Here are some helpful links istead:</p>
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>