<div class="main-template">

<section class="section-1">
        <div class="container">
            <div class="helper">
                <h1>The smart way<span>to buy and sell a service</span></h1>
                <div class="text-center">
                    <a class="youTube_btn fancybox-media" href="http://www.youtube.com/watch?v=GrdwORRjoF0"></a>
                </div>
                <form action="/searchserviceneed" class="subscribe ">
                    <div class="form-group">
                        <input type="text" placeholder="Search for a skill" name="q"/>
                        <div class="cuSelect">
                            <select name="type" id="type">
                                <option value="s">Buy</option>
                                <option value="n">Sell</option>
                            </select>
                        </div>
                        <button class="btn green"><span class="help">Let`s go!</span></button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <section class="section-2" id="aboutAnchor">
        <div class="container text-center">
            <h2>Start selling a skill you are good at</h2>
            <p>to buy a skill you need</p>
            <!--<ul id="threeColumn" class="clearfix">-->
            <!--<li>-->
            <!--<div class="circle"><span class="w-icons-circle1"></span></div>-->
            <!--<h4>Save Money</h4>-->
            <!--<div class="info">Save the money you spend on services by trading your skills</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="circle"><span class="w-icons-circle2"></span></div>-->
            <!--<h4>Sign Up for Free</h4>-->
            <!--<div class="info">Sign up and receive 50eeds worth $50 you can use to shop right away</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="circle"><span class="w-icons-circle3"></span></div>-->
            <!--<h4>Start a Company</h4>-->
            <!--<div class="info">Go Pro and start  getting credited for all the things you love to do</div>-->
            <!--</li>-->
            <!--</ul>-->
            <ul  id="threeColumn" class="clearfix small-mode">
                <li>
                    <div class="circle"><span class="w-icons-circle1_1"></span></div>
                    <h4>Money Free</h4>
                    <div class="info">You no longer need money to buy a service</div>
                </li>
                <li>
                    <div class="circle"><span class="w-icons-circle1_2"></span></div>
                    <h4>Match Maker</h4>
                    <div class="info">We match your service with people that need them</div>
                </li>
                <li>
                    <div class="circle"><span class="w-icons-circle1_3"></span></div>
                    <h4>Eeds</h4>
                    <div class="info">Spend eeds and save your money. Read <a href="/powerofeeds">more</a> about the security of eeds.</div>
                </li>
                <li>
                    <div class="circle"><span class="w-icons-circle1_4"></span></div>
                    <h4>Safety</h4>
                    <div class="info">All service providers are verified and vetted. Read <a href="/trustsafety">more</a> about Safety</div>
                </li>
            </ul>
        </div>
    </section>
    
   
    <section class="section-5">
        <div class="container">
            <h2>What our users are saying</h2>
            <div class="slider-box">
                <ul id="slider-comment" class="rslides">
                    <li>
                        <p>This has helped me spend less of my paycheque and more of my talents. twoPLUGS allows me to sell to people that would normally not be my typical customer</p>
                        <div class="name">Kimberly<span style="font-weight:normal;font-size:13px">, hair stylist </span></div>
                    </li>
                    <li><p>Wow...this is a neat idea. I carpool and pick up people on my way to work. Earned some eeds and used the eeds to fix my driveway. I'm hooked. Anybody else needs a ride? </p>
                        <div class="name">Ethan<span style="font-weight:normal;font-size:13px">, accountant</span></div></li>
                    <li>
                        <p>twoPLUGS has made me think about myself as a service provider. I could never afford to pay cash for the services I'm currently buying. I now cut my hair at a really fancy salon.</p>
                        <div class="name">Liam<span style="font-weight:normal;font-size:13px">, student</span></div>
                    </li>
                </ul>
                <ul id="comment-thumbs">
                    <li><a href="#"><img src="assets/img/person-1.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="assets/img/person-2.jpg" alt=""/></a></li>
                    <li><a href="#"><img src="assets/img/person-3.jpg" alt=""/></a></li>
                </ul>

            </div>
        </div>
    </section>

    <section class="section-6">
        <div class="container">
            <img src="assets/img/safe.png" alt=""/>
            <div class="title">We verify every user so you do not have to</div>
            <div class="text-center">
                <a class="btn white" href="/trustsafety"><span class="help">Read more about trust & safety</span></a>
            </div>
        </div>
    </section>


    <section class="section-7">
        <div class="container">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <dl class="Zebra_Accordion" id="Zebra_Accordion">
                <dt><span class="help">What do I need to sign up?</span></dt>
                <dd><p>You need a facebook account or a valid email address to sign up.</p>
                </dd>

                <dt><span class="help">What is eeds?</span></dt>
                <dd><p>eeds is an international barter currency developed by twoPLUGS. A first of its kind, eeds is what you receive when you sell your services (skills). Use your eeds to buy a service you need or simply send to a family or friend in need. eeds allows you to spend less and save more of your money.</p></dd>

                <dt><span class="help">How much should I sell my service (skill)?</span></dt>
                <dd><p>The prices of services will be gradually determined by buyers and sellers. 1eed is valued at $1, so sell your services at a similar price. For example if a service is $20, charge 20 eeds. Read <a href="/helparticles/3">more</a> about eeds and international trading.</p></dd>

                <dt><span class="help">How do I trust a Seller?</span></dt>
                <dd><p>Before buying a service from a seller, make sure to read reviews from past buyers. Check out the seller experience ranking, the ratings of the service and the number of sold services. Ensure you agree with the payment type and refund policy before agreeing to buy a service.</p></dd>

                <dt><span class="help">What kind of service (skill) can I sell?</span></dt>
                <dd><p>You can sell any kind of service. There are several service categories to choose from. Ensure to list your service in the right category.</p></dd>

           

                <dt><span class="help">Can I use twoPLUGS?</span></dt>
                <dd><p>twoPLUGS is currently only available in US and Canada. An international version will be released soon.</p></dd>

                <dt><span class="help">How do I trust a Buyer to pay me?</span></dt>
                <dd><p>We prevent buyers from buying a service they cannot afford. We do this by comparing the account balance of the buyer to the price of the service they want to purchase. All purchases use a payment type of "twoplugs", where the buyer pays full amount to twoplugs, and twoplugs pays you after the buyer confirms delivery of service.</p></dd>

            </dl>
        </div>
    </section>

</div>
