 <div class="main-template">
 <div class="wrapper">
 <section class="section-1 about">
        <div class="container">
            <div class="abouts-text">
                <p>Service</p>
                <p>Match</p>
                <p>Makers</p>
            </div>
        </div>
    </section>
    <section class="section-2" id='aboutAnchor'>
        <div class="container text-center">
            <h2>twoPLUGS is a service marketplace</h2>
            <p>where users sell services they are good at, earn some points (eeds), and use to buy a service they need ALL without the need for money.  Some call us
                service barters, we call ourselves service match makers.</p>
            <ul id="threeColumn" class="clearfix">
            <li>
            <div class="circle"><span class="w-icons-circle1"></span></div>
            <h4>Save Money</h4>
            <div class="info">Save the money you spend on services by trading your skills</div>
            </li>
            <li>
            <div class="circle"><span class="w-icons-circle2"></span></div>
            <h4>Join now for free</h4>
            <div class="info">Sign up and receive 50eeds worth $50 you can use to shop right away</div>
            </li>
            <li>
            <div class="circle"><span class="w-icons-circle3"></span></div>
            <h4>Start a Company</h4>
            <div class="info">Go Pro and start  getting credited for all the things you love to do</div>
            </li>
            </ul>
        </div>
    </section>
    <section class="numbers">
        <div class="container">
            <ul class="numbers-list">
                <li>
                    <div class="caption">TORONTO</div>
                    <p>Headquarters</p>
                </li>
                <li>
                    <div class="caption">200+</div>
                    <p>Services</p>
                </li>
                <li>
                    <div class="caption">2</div>
                    <p>Countries</p>
                </li>
                <li>
                    <div class="caption">50</div>
                    <p>Team size</p>
                </li>
                <li>
                    <div class="caption">500+</div>
                    <p>Trading cities</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="default-block">
        <div class="container">
            <h2>Our team</h2>
            <ul class="clearfix our-team">
                <li>
                    <div class="img">
                        <img src="/img/staff-1.jpg" alt=""/>
                        <span class="hover">
                            
                            <span class="help">The idea was born while I was a youth leader working with young adults in Toronto. I mentored about 50 youths and not long did I realize a need of one person was the strength of another, so I thought why not have a marketplace and create a money free connection.</span>
                        </span>
                    </div>
                    <div class="name">Tye Alli</div>
                    <div class="appointment">Founder & CEO</div>
                </li>
                <li>
                    <div class="img">
                        <img src="/img/staff-2.jpg" alt=""/>
                        <span class="hover">
                            <span class="help">Over 10 years experience leading development and technology strategy at a leading Canadian bank. Tye sold me the idea of a money free service exchange at a coffee shop and I joined right there.</span>
                        </span>
                    </div>
                    <div class="name">Koni Zhang</div>
                    <div class="appointment">CTO</div>
                </li>
                <li>
                    <div class="img">
                        <img src="/img/staff-3.jpg" alt=""/>
                        <span class="hover">
                            <span class="help">Art and Designs are part of my identity. Knowing the demographic of our product, I worked to create vibrant designs and seamless work flows that will keep the attention of our users. Enjoy!</span>
                        </span>
                    </div>
                    <div class="name">Andrey Boiko</div>
                    <div class="appointment">Lead Designer</div>
                </li>
                <li>
                    <div class="img">
                        <img src="/img/staff-4.jpg" alt=""/>
                        <span class="hover">
                             <span class="help">The biggest innovation that excites me is our digital currency, eeds. The potential is huge. Working with this team is fun and challenging where no day is the same.</span></span>
                    </div>
                    <div class="name">Roma Khomych</div>
                    <div class="appointment">Lead Developer</div>
                </li>
            </ul>
            <div class="about-comment">
                <h2>Taking the sharing economy to the next level</h2>
                <p>We live in a disruptive world where innovative companies use technology as a leverage to remove the middle man and reduce the cost of services. This idea has been successful to those who can afford to pay $20 for a service that used to cost $40. What about paying $0? The sharing economy just evolved. Be a part of the next generation.</p>
                <div class="author text-right"><p>- Tye Alli</p></div>
            </div>
        </div>
    </section>
    <section class="pretty-embed-box">

        <a class="fancybox-media js-lazyYT" id="my-video-display" href="https://www.youtube.com/watch?v=GrdwORRjoF0" rel="media-gallery">
            <span class="ytp-large-play-button"></span>
            <img src="/img/about-video-img.jpg" alt=""/>
        </a>
        <div class="hint">
            <span>Freedom is choosing what to spend your money on</span>
        </div>
    </section>

 </div>

 </div>