body{
margin: -8px;
    background: #eff2f3;
}

.pushH2{

margin-top:100px!important;    
}

.control-bar{

    height: 1000px;
}


.black{
    background-color: black;
}



.logedinheader{
    height: 53px;  
    margin: 0;
    background: #353b44;
}

.main-banner .top{
    background:url("/img/banner.jpg") no-repeat 0 0 scroll transparent;
    position: relative;
    height: 330px;
}

body:not(.main-template) footer ul li+li:before {

    content: "";
 
}

body:not(.main-template) h2 {
    
    border-bottom: 0px;
  
}

.footer_wording{
    font-size: 13px;
    line-height: 1.2em;
}

.main-template [class*="w-icons"] {
    background-image: url(/img/icons.png);
  
}

.main-template [class*="w-icons"].w-icons-socFace {
    background-position: -1px -28px;
    width: 35px;
    height: 35px;
    background-image: url(/img/iconsMainSprite.png)!important;
}


.main-template [class*="w-icons"].w-icons-socTweet {
    background-position: -112px -28px;
    width: 35px;
    height: 35px;
    background-image: url(/img/iconsMainSprite.png)!important;
}

.main-template [class*="w-icons"].w-icons-socInst {
    background-position: -75px -28px;
    width: 35px;
    height: 35px;
    background-image: url(/img/iconsMainSprite.png)!important;
}

.main-template [class*="w-icons"].w-icons-circle1_1 {
    background-position: -230px -177px;
    width: 61px;
    height: 58px;
    background-image: url(/img/iconsMainSprite.png)!important;
}
.main-template [class*="w-icons"].w-icons-circle1_2 {
    background-position: -172px -176px;
    width: 56px;
    height: 58px;
     background-image: url(/img/iconsMainSprite.png)!important;
}

.main-template [class*="w-icons"].w-icons-circle1_3 {
    background-position: 0 -200px;
    width: 28px;
    height: 50px;
     background-image: url(/img/iconsMainSprite.png)!important;
}


.main-template [class*="w-icons"].w-icons-circle1_4 {
    background-position: -133px -175px;
    width: 36px;
    height: 49px;
     background-image: url(/img/iconsMainSprite.png)!important;
}

body:not(.main-template) [class*="w-icons"].w-icons-create {
   
    height: 15px;
}

 .slider-box #slider-comment li p{
            color: #555;
            font-weight: 600;

}
.main-template section.section-1 .container .subscribe input {
    color: #000 !important;
}

.main-template section.section-1 .container .subscribe input {
    color: #000 !important;
}

@media (max-width: 599px){
    .main-template .wrapper p {
    
    font-size: 16px;
}
}

#servicedetails{
    margin-top: 50px;
}


/*.ng-dirty.ng-invalid{
    border:2px solid #ff2218;
} */

body:not(.main-template) h2 {
    color: #4a4a4a;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: none;
    margin: 0 0 5px;
    padding: 0;
    border-bottom: 5px solid #c1c3c4;
    padding-bottom: 12px;
}

.titledescript {
    color: #8c8d8e;
    margin-bottom: 20px;
    font-size: 13px;
}

body:not(.main-template) h2.pushH2 {
    padding-top: 0px; 
   text-transform: capitalize;
}

.main-template{
     background: #eff2f3;
}

#service_img{
   max-height: 130px;
   max-width: 130px; 
}

.main-template section {
    background-color: #eff2f3;;
}

.pushH2{
    text-align: left;
}

#active_chk{
    width: 88px;
}

.bone{
    padding-top: 10px;
}

#bid_chk{
    width: 160px;
}