
<footer>
    <div class="container">
        <div class="copy-info">
            <a class="logo" href="/">twoPLUGS</a>
            <p class="footer_wording">Make your paycheck last longer. <br/>Spend eeds, save cash.</p>
            <p class="footer_wording">A plug for your service and another for your need.</p>
            <a class="btn green" routerLink="/signup"><span class="help">Join now for free</span></a>
        </div>
        <div class="contact-info">
            <div class="social">
                <h5>FOLLOW US</h5>
                <ul>
                    <li><a target='_blank' href="https://www.facebook.com/twoplugsinc" class="w-icons-socFace"></a></li>
                    <li><a target='_blank' href="https://twitter.com/twoplugsinc" class="w-icons-socTweet"></a></li>
                    <!--li><a href="#" class="w-icons-socGoogle"></a></li-->
                    <li><a target='_blank' href="https://instagram.com/twoplugs" class="w-icons-socInst"></a></li>
                </ul>
            </div>
            <form class="subscribe" action="">
                <h5>GET THE NEWSLETTER</h5>
                <div class="form-group">
                    <input type="email" placeholder="Your email address"/>
                    <button class="btn white"><span class="help">SUBscRIBE</span></button>
                </div>
            </form>
        </div>
        <style type="text/css">

 
        </style>


        <div class="nav">


            <ul>
                <li><a routerLink="/about">ABOUT</a></li>
                <li><a routerLink="/powerofeeds"  routerLinkActive="active">EEDS</a></li>
                <li><a href="#">TRUST & SAFETY</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">HELP</a></li>
                <li><a href="#">TERMS</a></li>
                <li><a href="#">PRIVACY</a></li>
            </ul>
            <div id="landingcopyright">© twoPLUGS 2016</div>
        </div>
    </div>
</footer>
