<footer>
    <div class="container">
        <div class="copy-info">
            <a class="logo" href="/">twoPLUGS</a>
            <p class="copyright">Make your paycheck last longer. <br/>Spend eeds, save cash.</p>
            <p style="font-size: 13px;">A plug for your service and another for your need.</p>
            <a class="btn green" routerLink="/signup"><span class="help">Join now for free</span></a>
        </div>
        <div class="contact-info">
            <div class="social">
                <h5>FOLLOW US</h5>
                <ul>
                    <li><a target='_blank' href="https://www.facebook.com/twoplugsinc" class="w-icons-socFace"></a></li>
                    <li><a target='_blank' href="https://twitter.com/twoplugsinc" class="w-icons-socTweet"></a></li>
                    <!--li><a href="#" class="w-icons-socGoogle"></a></li-->
                    <li><a target='_blank' href="https://instagram.com/twoplugs" class="w-icons-socInst"></a></li>
                </ul>
            </div>
            <form class="subscribe" action="">
                <h5>GET THE NEWSLETTER</h5>
                <div class="form-group">
                    <input type="email" placeholder="Your email address"/>
                    <button class="btn white"><span class="help">SUBscRIBE</span></button>
                </div>
            </form>
        </div>
        <style type="text/css">


            @media (min-width:767px) {
                #landingcopyright {
                    float:left;
                    color: #fff;
                    font-size: 12px;
                    font-family: "Open Sans",sans-serif;
                    font-weight: 600;
                    padding: 5px;
                    text-transform: uppercase;
                }
            }
            @media (max-width:767px) {

                #landingcopyright {
                    float: none;
                    width: 100%;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 10px;
                    clear: both;
                    font-size: 12px;
                    font-family: "Open Sans",sans-serif;
                    font-weight: 600;
                    padding: 5px;
                    text-transform: uppercase;
                }


            }

 
        </style>


        <div class="nav">


            <ul>
                <li><a href="/about">ABOUT</a></li>
                <li><a routerLink="/powerofeeds"  routerLinkActive="active">EEDS</a></li>
                <li><a href="/trustsafety">TRUST & SAFETY</a></li>
                <li><a href="/helparticles/2">FAQ</a></li>
                <li><a href="/help">HELP</a></li>
                <li><a href="/terms">TERMS</a></li>
                <li><a href="/terms#privacy">PRIVACY</a></li>
            </ul>
            <div id="landingcopyright">© twoPLUGS 2016</div>
        </div>




    </div>
</footer>