<div class="container">
        <h2 class="pushH2"><span class="w-icons-edit large"></span><span class="help">Add Service</span></h2>
        <form action="" class="signIn profileRoom addServiceForm">
            <div class="group">
                <div class="form-group clearfix">
                    <label for="addServiceName" class="control-label">Name</label>
                    <div class="form-controls">
                        <input type="text" id="addServiceName"/>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="addServiceText" class="control-label">Description</label>
                    <div class="form-controls">
                        <textarea name="" id="addServiceText" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="form-group clearfix">
                    <label for="cateringCategory" class="control-label">Category</label>
                    <div class="form-controls cuSelect">
                        <select name="" id="cateringCategory">
                            <option value="0"></option>
                            <option value="1">Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="cateringSubcategory" class="control-label">Subcategory</label>
                    <div class="form-controls cuSelect">
                        <select name="" id="cateringSubcategory">
                            <option value="0"></option>
                            <option value="1">Subcategory</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="form-group clearfix">
                    <label for="addServicePrice" class="control-label">Price</label>
                    <div class="form-controls">
                        <input type="text" id="addServicePrice"/>
                    </div>
                </div>
                <br/>
                <div class="form-group clearfix">
                    <label for="amount" class="control-label">Refund % <span class="w-icons-tooltip" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, aliquam condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></span></label>
                    <div class="form-controls">

                        <div id="slider-range-max3"></div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="cateringRefundExp" class="control-label">Refund Expires <span class="w-icons-tooltip" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, aliquam condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></span></label>
                    <div class="form-controls  day-control">
                        <input type="text" id="cateringRefundExp"/>
                        <div class="day"><div class="help">day</div></div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label for="cateringPayment" class="control-label">Payment <span class="w-icons-tooltip" title="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, aliquam condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></span></label>
                    <div class="form-controls cuSelect">
                        <select name="" id="cateringPayment">
                            <option value="0"></option>
                            <option value="1">Payment</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="form-group imgHolder clearfix">
                    <label for="" class="control-label">Add your pics</label>
                    <div class="form-controls">
                        <ul class="clearfix">
                            <li>
                                <a href="#">
                                    <span class="help">
                                        <span class="w-icons-add"></span>
                                        <span class="text">ADD HERE</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="help">
                                        <span class="w-icons-add"></span>
                                        <span class="text">ADD HERE</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="help">
                                        <span class="w-icons-add"></span>
                                        <span class="text">ADD HERE</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="addServiceUrl" class="control-label">Video URL</label>
                    <div class="form-controls">
                        <input type="text" id="addServiceUrl"/>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-controls pull-right text-right">
                        <ul class="check-list">
                            <li><span class="check check2"><label for="check1"><input type="checkbox" id="check1" checked/><span class="help">Active</span></label></span></li>
                            <li><span class="check check2"><label for="check2"><input type="checkbox" id="check2"/><span class="help">Bidding Allowed</span></label></span></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group clearfix text-right">

                    <ul class="line-btn">
                        <li><button class="btn btn-border"><span class="help">CANCEL</span></button></li>
                        <li><button class="btn btn-success w-btn-success"><span class="help">create</span></button></li>
                    </ul>
                </div>
            </div>


        </form>

    </div>
