    <!-- Page Content -->
    <section class="main-banner">
        <div class="top">
            <div class="inner-container">
                <div class="avatar"><img src="img/avatar.jpg" alt=""/></div>
                <div class="profile-information">
                    <div class="name">Richard Brenston <span><a class="edit-link" href="#"><span class="w-icons-edit"></span>Edit Profile</a></span></div>
                    <ul class="location">
                        <li><div class="w-icons-inc"></div><span>BREN Inc</span></li>
                        <li><img src="img/country1.jpg" alt=""/><span>6:50 AM Toronto - Canada</span></li>
                    </ul>
                    <div class="profileBtnHolder">
                        <ul class="clearfix">
                            <li class="active"><a href="#"><span class="w-icons-profileCtrl1"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl2"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl3"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl4"></span></a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <div class="bottom clearfix">
            <div class="inner-container">
                <!--<div class="mask"></div>-->
                <div class="bg-helper clearfix">
                    <ul class="info clearfix pull-left">
                        <li>
                            <div class="title">FOLLOWING</div>
                            <div class="number">1,200</div>
                        </li>
                        <li>
                            <div class="title">FOLLOWERS</div>
                            <div class="number">32</div>
                        </li>
                        <li>
                            <div class="title">EXP.LEVEL</div>
                            <div class="number">4
                                <div class="rating">
                                    <input type="hidden" name="vote-id" value="1"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="status-bar pull-right">
                        <li>
                            <div class="status">SERVICE SOLD</div>
                            <div class="count">32</div>
                        </li>
                        <li>
                            <div class="status">NEEDS FILLED</div>
                            <div class="count">39</div>
                        </li>
                        <li>
                            <div class="status">TOTAL BALANCE</div>
                            <div class="big">
                                <div class="count">50</div>
                                <span class="detail">(EEDS)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
       
        <div class="row box-group">
            <div class="col-xs-12 col-sm-6">
                <div class="box theme-1">
                    <div class="caption">
                        <div class="help clearfix">
                            Needs
                            <span class="badge pull-right">12</span>
                        </div>
                    </div>
                    <table>

                    <tr *ngFor="let service of services">
                         <td><div class="chapter"><a routerLink="/service/{{service.id}}">{{service.name}}</a></div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                    </tr>
                      
                        <tr>
                            <td><div class="chapter"><a routerLink="/service/5">GENESIS SOUNDS</a></div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter"><a routerLink="/service/6">PHOTOGRAPHY</a></div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">LIGHTHOUS PAINTINGS</div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">P9 CANVAS</div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">THE DARK WEB</div></td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <a class="btn btn-create" routerLink="/service/add">
                        <span class="circle"><span class="w-icons-create"></span></span>
                        <span class="help">NEw NEED</span>
                    </a>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-xs-12 col-sm-6">
                <div class="box theme-2">
                    <div class="caption">
                        <div class="help clearfix">
                            Services
                            <span class="badge pull-right">35</span>
                            <a href="service_math_making.html" class="community"><span class="w-icons-community  default-tooltip" data-toggle="tooltip" data-placement="top" title="Service match making"></span></a>

                        </div>
                    </div>
                    <table>
                        <tr>
                            <td><div class="chapter">GENESIS SOUNDS</div></td>
                            <td>
                                <div class="review pull-left">
                                    <div class="rating">
                                        <input type="hidden" name="vote-id" value="1"/>
                                    </div>
                                    <p><a href="#">Reviews</a></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="price">
                                    <div class="size">100</div>
                                    <p>Price</p>
                                </div>
                            </td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">PHOTOGRAPHY</div></td>
                            <td>
                                <div class="review pull-left">
                                    <div class="rating">
                                        <input type="hidden" name="vote-id" value="1"/>
                                    </div>
                                    <p><a href="#">Reviews</a></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="price">
                                    <div class="size">1200</div>
                                    <p>Price</p>
                                </div>
                            </td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">LIGHTHOUS PAINTINGS</div></td>
                            <td>
                                <div class="review pull-left">
                                    <div class="rating">
                                        <input type="hidden" name="vote-id" value="1"/>
                                    </div>
                                    <p><a href="#">Reviews</a></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="price">
                                    <div class="size">10k</div>
                                    <p>Price</p>
                                </div>
                            </td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>

                            <td><div class="chapter">P9 CANVAS</div></td>
                            <td>
                                <div class="review pull-left">
                                    <div class="rating">
                                        <input type="hidden" name="vote-id" value="1"/>
                                    </div>
                                    <p><a href="#">Reviews</a></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="price">
                                    <div class="size">1300</div>
                                    <p>Price</p>
                                </div>
                            </td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="chapter">THE DARK WEB</div></td>
                            <td>
                                <div class="review pull-left">
                                    <div class="rating">
                                        <input type="hidden" name="vote-id" value="1"/>
                                    </div>
                                    <p><a href="#">Reviews</a></p>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="price">
                                    <div class="size">280</div>
                                    <p>Price</p>
                                </div>
                            </td>
                            <td>
                                <ul class="control-block">
                                    <li><a href="#" class="edit"><span class="w-icons-edit"></span></a></li>
                                    <li><a href="#" class="delete"><span class="w-icons-delete"></span></a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <a class="btn btn-create" routerLink="/service/add">
                        <span class="circle"><span class="w-icons-create"></span></span>
                        <span class="help">New service</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


<!--/{{services._embedded.service |json}}-->
