 <section class="detailsSect serviceTheme" >
        <div class="container">
            <div class="header row" id="servicedetails">
                <div class="col-xs-12 col-sm-5">
                    <div class="catering">
                        <div class="img" style=""><img id="service_img" class="" src="assets/img/twoplugsuser.jpg" alt=""/></div>
                        <div class="caption">{{service?.name}}</div>
                        <div class="status">ACTIVE</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 text-right">
                    <ul class="dataPanel clearfix">
                        <li>
                            <div class="backbone"><div class="data"><strong>{{service?.updatedAt | date: 'hh:mm a'}}</strong>{{service?.updatedAt | date: 'dd/MM/yyyy'}}</div></div>
                            <div class="gray">UPDATE</div>
                        </li>
                        <li>
                            <div class="backbone"><div class="big">{{service?.payment}}</div></div>
                            <span class="gray">PAYMENT TYPE</span>
                        </li>
                        <li>
                            <div class="backbone"><div class="big">{{service?.price}} <span>(EEDS)</span></div></div>
                            <div class="gray">PRICE</div>
                        </li>
                        <li>
                            <div class="backbone"><div class="big">{{service?.sales}}</div></div>
                            <div class="gray">SALES</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row box-group">
                <div class="col-xs-12 col-sm-5">
                    <div class="box theme-2">
                        <div class="caption">
                            <div class="help clearfix">
                                Service Details
                                <a class="pull-right edit-link" href="#"><span class="w-icons-edit"></span>Edit Bio</a>
                            </div>
                        </div>
                        <table class="table-Colorful dual-centered">
                            <tbody>
                            <tr>
                                <td>Company</td>
                                <td>Rogers Soccer Inc</td>
                            </tr>
                            <tr>
                                <td>Service Provider</td>
                                <td>Big Mouse</td>
                            </tr>
                            <tr>
                                <td>Refund %</td>
                                <td>{{service?.refund/100*service?.price}} EEDS</td>
                            </tr>
                            <tr>
                                <td>Refund Valid</td>
                                <td>{{service?.refundValid}} days</td>
                            </tr>
                            <tr>
                                <td>Deposit</td>
                                <td>50 EEDS</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{service?.category}}</td>
                            </tr>
                            <tr>
                                <td>Sub Category</td>
                                <td>{{service?.category}}</td>
                            </tr>
                            <tr>
                                <td>City/Town</td>
                                <td>Toronto</td>
                            </tr>
                            <tr>
                                <td>Network</td>
                                <td>{{service?.network.city}}-{{service?.network.stateName}}-CANADA</td>
                            </tr>
                            <tr>
                                <td>Zip Code</td>
                                <td>{{service?.zipcode}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="box theme-2">
                        <div class="caption">
                            <div class="help clearfix">
                                Service Description
                                <div class="pull-right multi-share">
                                    <div class="shared"><span class="w-icons-fork green"></span></div>
                                    <ul>
                                        <li><a href="#"><span class="w-icons-fork mail"></span></a></li>
                                        <li><a href="#"><span class="w-icons-fork tweet"></span></a></li>
                                        <li><a href="#"><span class="w-icons-fork face"></span></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="body">
                            <p>{{service?.description}}</p>
                            <div class="group">

                                <h5>VIDEO</h5>
                                <div class="groupCol"><a href="#" class="link">{{serivce?.videourl}}</a></div>
                            </div>
                            <div class="group">
                                <h5>PHOTOS</h5>
                                <div class="groupCol">
                                    <ul class="img-holder clearfix">
                                        <li><a href="assets/img/img-1.jpg" rel="gallery1" class="fancybox-light"><img src="img/img-1.jpg" alt=""/></a></li>
                                        <li><a href="assets/imgimg-2.jpg" rel="gallery1" class="fancybox-light"><img src="img/img-2.jpg" alt=""/></a></li>
                                        <li><a href="assets/imgimg-3.jpg" rel="gallery1" class="fancybox-light"><img src="img/img-3.jpg" alt=""/></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box theme-2">
                        <div class="caption"><div class="help clearfix">Reviews</div></div>
                        <table class="table-Colorful special">
                            <tbody>
                            <tr>
                                <td>Big Mouse</td>
                                <td><div class="grayMark">Excellent delivery and service</div></td>
                                <td>
                                    <div class="review pull-left">
                                        <div class="rating">
                                            <input type="hidden" name="vote-id" value="1"/>
                                        </div>
                                    </div>
                                </td>
                                <td>10:46 AM<div class="date">05/02/15</div></td>
                            </tr>
                            <tr>
                                <td>Nice Dog</td>
                                <td><div class="grayMark">Excellent delivery and service</div></td>
                                <td>
                                    <div class="review pull-left">
                                        <div class="rating">
                                            <input type="hidden" name="vote-id" value="1"/>
                                        </div>
                                    </div>
                                </td>
                                <td>10:46 AM<div class="date">05/02/15</div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right row">
                <div class="col-xs-12">
                    <a href="#" class="btn w-btn-success"><span class="help">BID</span></a>
                    <a href="#" class="btn w-btn-warning"><span class="help">SELL</span></a>

                </div>
            </div>
        </div>



               <tr *ngFor="let service of services">
                         <td>{{service}}
                            </td>
                    </tr>
    </section>