<div class="push-laptop popupThemeBg" style="min-height: 85vh;" >
     <div class="popupTheme contact">
      <form class="signIn signUp contactForm" style="margin-top:150px;"> 
            <div class="form-header">
            <h4>Contact Us</h4>
  
            </div>
            <div class="form-body">
                <div class="form-group clearfix ">
                    <div class="form-controls">
                      <input type="text" name="email" class="form-control">
                    </div>
                </div>

                <div class="form-group clearfix ">
                    <div class="form-controls">
                      <input type="text" name="title" class="form-control">
                     
                    </div>
                </div>
                
                <div class="form-group clearfix ">
                    <div class="form-controls">
                <textarea class="form-control" cols=30 rows=10>

                </textarea>
                    </div>
                </div>
                <div class="form-footer clearfix">
                    <div class="text-right">
                        <ul class="line-btn">
                            <li>
                                <button type="submit" class="btn btn-success w-btn-success"><span class="help">Submit</span></button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
    </form>

    </div>


 </div>