<div class="popupTheme myPopUpThemeBgNew" style="min-height: 85vh;">


  <form (ngSubmit)="login(f)" class="signIn signUp" style="width: 457px;" autocomplete="false" novalidate name="loginForm"
    #f="ngForm">
    <div class="form-header">
      <h3>Log In{{NgControlStatus}}</h3>
    </div>
    <div class="form-body">
      <div class="form-group clearfix signUp_by_facebook">
        <a href="/login/fb" class="facebook-btn"><span class="icon"></span><span class="help">Sign1 up with facebook</span></a>
        <div class="or"><span>or</span></div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': username.invalid && username.dirty}">
        <label for="signInEmail" class="control-label">Username/Email</label>
        <div class="form-controls">
          <input type="text" name="username" [(ngModel)]="loginUser.username" required #username="ngModel">
          <p class="er">The username field is required.</p>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': password.invalid && password.dirty}">
        <label for="signInPassword" class="control-label">Password</label>

        <div class="form-controls">
          <input type="text" name="password" [(ngModel)]="loginUser.password" required #password="ngModel">
          <p class="er">The password field is required.</p>
          <br>
          <a href="forgot">FORGOT YOUR PASSWORD?</a>
        </div>
      </div>

      <div class="form-footer clearfix">
        <ul class="line-btn">
          <li><a href="signup" class="btn btn-border"><span class="help">SIGN UP</span></a></li>
          <li><button class="btn btn-success w-btn-success"><span class="help">LOG ssIN</span></button></li>
          <li><button class="btn btn-success w-btn-success" (click)="modal.show()"><span class="help">ppp</span></button></li>

        </ul>
      </div>

    </div>
  </form>

  <div class="modal fade dismiss-modal" id="dismiss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="">
    <div class="modal-dialog">
      <div class="alert alert-default text-center" role="alert"></div>

    </div>
  </div>

  <alert type="success">hello</alert>
  
  <alert dismissOnTimeout="3000">This alert will dismiss in 3s</alert>
  
  <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" [dismissOnTimeout]="alert.dismissOnTimeout" (close)="closeAlert(i)">
    {{ alert?.msg }}
  </alert>


  <button type="button" class='btn btn-success w-btn-success' (click)="addAlert()">Add Alert</button>
  <li><button class="btn btn-success w-btn-success" (click)="modal.open()"><span class="help">ppp</span></button></li>
  <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>
  <button type="button" class="btn btn-default" (click)="modal.open('lg')">Large modal</button>
  <button type="button" class="btn btn-default" (click)="modal.open('sm')">Small modal</button>
  <button type="button" class="btn btn-default" (click)="animationsEnabled = !animationsEnabled">Toggle Animation ({{ animationsEnabled }})</button>
  <div [hidden]="!selected">Selection from a modal: {{ selected }}</div>

  <modal [animation]="animationsEnabled" (onClose)="onClose($event)" #modal>
    <modal-header [show-close]="true">
      <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
      <ul>
        <li *ngFor="let item of items">
          <a href="#" (click)="$event.preventDefault(); modalSelected = item">{{ item }}</a>
        </li>
      </ul>
      Selected: <b>{{ modalSelected }}</b>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-success w-btn-success" data-dismiss="modal" (click)="navigateModal.dismiss()"><span class="help">Cancel</span></button>
      <button type="button" class="btn btn-success w-btn-success" autofocus (click)="navigateModal.close()"><span class="help">asd</span></button>
    </modal-footer>
  </modal>
  

</div>