<section class="messages">
<div class="container">
  <h2 class="pushH2"><span class="w-icons-messages dark"></span><span class="help">Messages</span></h2>
  <div role="tabpanel" class="tabsTheme2">
    <aside>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a routerLink="/messages/inbox" aria-controls="home" role="tab" data-toggle="tab"><span class="help">Inbox <span class="badge pull-right">{{total}}</span></span></a>
        </li>
        <li role="presentation">
          <a routerLink="/messages" aria-controls="profile" role="tab" data-toggle="tab"><span class="help">Unread </span></a>
        </li>
        <li role="presentation">
          <a routerLink="/sendmessage" aria-controls="messages" role="tab" data-toggle="tab"><span class="help">Sent Mail </span></a>
        </li>
      </ul>
      <div class="text-center">
        <a class="btn btn-create" routerLink="/messages/sendmessage">
          <span class="circle"><span class="w-icons-create"></span></span>
          <span class="help" >new email</span>
        </a>
      </div>
    </aside>
    <router-outlet></router-outlet>

  </div>
</div>

</section>