  <div class="content">
                    <!-- Tab panes -->
                    <div class="tab-content">
                   
                        <div role="tabpanel" class="tab-pane active" id="inbox">
                            <div class="captionMessage clearfix">
                                <h4> {{message?.title}}</h4>
                                <ul class="pull-right">
                                    <li><a href="#" class="btn w-btn-success"><span class="help">Reply</span></a></li>
                                    <li><a (click)="back()" class="btn w-btn-default"><span class="help">Back</span></a></li>
                                </ul>
                            </div>
                            <div class="mailDetails">
                                <table>
                                    <tr>
                                        <td>From</td>
                                        <td>{{message?.sender?.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>To</td>
                                        <td>{{message?.receiver?.username}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td><div class="date">{{message?.createdAt| date:'shortTime'}}<span>{{message?.createdAt| date:'M/d/yy'}}</span></div></td>
                                    </tr>
                                </table>
                            </div>
                          
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                       
                                        <div class="panel-body" [innerHTML]="message?.content">
                                        
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                       
                    </div>

                </div>