<section class="messages">
<div class="container">
  <h2 class="pushH2"><span class="w-icons-messages dark"></span><span class="help">Messages</span></h2>
  <div role="tabpanel" class="tabsTheme2">
    <aside>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#inbox" aria-controls="home" role="tab" data-toggle="tab"><span class="help">Inbox</span></a>
        </li>
        <li role="presentation">
          <a href="#unread" aria-controls="profile" role="tab" data-toggle="tab"><span class="help">Unread <span class="badge pull-right">12</span></span></a>
        </li>
        <li role="presentation">
          <a href="#sentMail" aria-controls="messages" role="tab" data-toggle="tab"><span class="help">Sent Mail <span class="badge pull-right">12</span></span></a>
        </li>
      </ul>
      <div class="text-center">
        <a class="btn btn-create" href="#">
          <span class="circle"><span class="w-icons-create"></span></span>
          <span class="help">new email</span>
        </a>
      </div>
    </aside>
    <div class="content">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="controlPanel clearfix">
          <div class="pull-left">
            <ul class="btn-holder clearfix">
              <!--<li class="check">-->
              <!--<label for="checkAll1" class="bone">-->
              <!--<input type="checkbox" id="checkAll1"/>-->
              <!--<span class="help">All</span>-->
              <!--</label>-->
              <!--</li>-->
              <li class="check-no-style">
                <input type="checkbox" id="checkAll" />
                <label for="checkAll" class="bone">
                                            <span class="help">All</span>
                                        </label>
              </li>
              <li>
                <a href="#" class="bone">
                  <span class="help">Make Read</span>
                </a>
              </li>
              <li>
                <a href="#" class="bone">
                  <span class="help">Make Unread</span>
                </a>
              </li>
              <li>
                <a href="#" class="bone">
                  <span class="help">Delete</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <div class="filter-label">SORT BY</div>
            <div class="cuSelect">
              <select>
                                        <option>Sender</option>
                                        <option>Date</option>
                                    </select>
            </div>
           
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="inbox">
          <table class="table-message">
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check111" />
                  <label for="check111"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Transfer</a></td>
              <td>
                <div class="light">you sent</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check2" />
                  <label for="check2"></label>
                </div>
                <span class="help"><span class="w-icons-letter open"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Service Rating</a></td>
              <td>
                <div class="light">Ashley rated you</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check3" />
                  <label for="check3"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Transfer</a></td>
              <td>
                <div class="light">you sent</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check4" />
                  <label for="check4"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Confirm Delivery</a></td>
              <td>
                <div class="light">Purchase Process</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check5" />
                  <label for="check5"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Confirmation Order</a></td>
              <td>
                <div class="light">Purchase Process</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check6" />
                  <label for="check6"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Re: Hi test form Tye</a></td>
              <td>
                <div class="light">Hi</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check7" />
                  <label for="check7"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Service Refund</a></td>
              <td>
                <div class="light">Service Refund</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check8" />
                  <label for="check8"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Service Refund</a></td>
              <td>
                <div class="light">Service Refund</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check9" />
                  <label for="check9"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Confirm Delivery</a></td>
              <td>
                <div class="light">Purchase Process</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="check-no-style theme2">
                  <input type="checkbox" id="check10" />
                  <label for="check10"></label>
                </div>
                <span class="help"><span class="w-icons-letter"></span> <a href="#">Admin</a></span>
              </td>
              <td><a href="#">Confirmation Order</a></td>
              <td>
                <div class="light">Purchase Process</div>
              </td>
              <td>
                <div class="date">10:46
                  <div>05/02/15</div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="unread"></div>
        <div role="tabpanel" class="tab-pane" id="sentMail"></div>
        <nav class="text-center">
          <ul class="pagination clearfix">
            <li class="prev">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true" class="help">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#"><span class="help">1</span></a></li>
            <li><a href="#"><span class="help">2</span></a></li>
            <li><a href="#"><span class="help">3</span></a></li>
            <li><a href="#"><span class="help">...</span></a></li>
            <li><a href="#"><span class="help">56</span></a></li>
            <li class="next">
              <a href="#" aria-label="Next">
                <span aria-hidden="true" class="help">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>

  </div>
</div>

</section>