<div class="popupTheme myPopUpThemeBgNew" style="min-height: 85vh;">

<form class="signIn signUp">



            <div class="form-header">
                <h4>Sign Up</h4>
            </div>
            <div class="form-body">
           <div class="form-group clearfix signUp_by_facebook">
                    <a href="/login/fb" class="facebook-btn"><span class="icon"></span><span class="help">Sign up with facebook</span></a>
                    <div class="or"><span>or</span></div>
                </div>

               <div class="form-group clearfix">
                <label for="signUpUser" class="control-label">Username</label>
                <div class="form-controls">
                   <input type="text" name="username" class="form-control">    
                   
                </div>  

               </div> 

              <div class="form-group clearfix ">
                  <label for="signUpEmail" class="control-label">Email</label>
                  <div class="form-controls">
                      <input type="text" name="email" class="form-control">    
                    
                  </div>
              </div>
              <div class="form-group clearfix">
                  <label for="signUpPassword" class="control-label">Password</label>
                  <div class="form-controls">
                      <input type="password" name="password" class="form-control">    
                   
                  </div>
              </div>
                <div class="form-footer clearfix">
                    <button type="submit" class="btn btn-success w-btn-success wide" ><span class="help">SIGN UP</span></button>
                    <div class="text-center">
                        <div class="text-center"><a href="/login" class="ask">already have an account?</a></div>

                        <p>creating an account means you agree with
                            <br/><a href="/terms" class="green">twoPLUGS terms and conditions</a></p>
                    </div>
                </div>

            </div>
       </form>

    </div>
