    <!-- Page Content -->
    <section class="main-banner">
        <div class="top">
            <div class="inner-container">
                <div class="avatar"><img src="/img/avatar.jpg" alt=""/></div>
                <div class="profile-information">
                    <div class="name">Richard Brenston <span><a class="edit-link" href="#"><span class="w-icons-edit"></span>Edit Profile</a></span></div>
                    <ul class="location">
                        <li><div class="w-icons-inc"></div><span>BREN Inc</span></li>
                        <li><img src="/img/country1.jpg" alt=""/><span>6:50 AM Toronto - Canada</span></li>
                    </ul>
                    <div class="profileBtnHolder">
                        <ul class="clearfix">
                            <li class="active"><a href="#"><span class="w-icons-profileCtrl1"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl2"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl3"></span></a></li>
                            <li><a href="#"><span class="w-icons-profileCtrl4"></span></a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <div class="bottom clearfix">
            <div class="inner-container">
                <!--<div class="mask"></div>-->
                <div class="bg-helper clearfix">
                    <ul class="info clearfix pull-left">
                        <li>
                            <div class="title">FOLLOWING</div>
                            <div class="number">1,200</div>
                        </li>
                        <li>
                            <div class="title">FOLLOWERS</div>
                            <div class="number">32</div>
                        </li>
                        <li>
                            <div class="title">EXP.LEVEL</div>
                            <div class="number">4
                                <div class="rating">
                                    <input type="hidden" name="vote-id" value="1"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="status-bar pull-right">
                        <li>
                            <div class="status">SERVICE SOLD</div>
                            <div class="count">32</div>
                        </li>
                        <li>
                            <div class="status">NEEDS FILLED</div>
                            <div class="count">39</div>
                        </li>
                        <li>
                            <div class="status">TOTAL BALANCE</div>
                            <div class="big">
                                <div class="count">50</div>
                                <span class="detail">(EEDS)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
       <div class="row box-group">
            <div class="col-xs-12 col-sm-6">
                <div class="box">
                    <div class="caption">
                        <div class="help clearfix">
                            Bren Inc <span class="w-icons-check"></span>
                            <span class="w-icons-check success"></span>
                            <a class="pull-right edit-link" href="#"><span class="w-icons-edit"></span>Edit Profile</a>
                        </div>
                    </div>
                    <div class="body">
                        <ul class="profile clearfix">
                            <li><strong>First Name</strong>Richard</li>
                            <li><strong>Last Name</strong>Brenston</li>
                            <li><strong>Sex</strong>Female</li>
                            <li><strong>Adress Line</strong>26 Oval Close</li>
                            <li><strong>Adress Line 2</strong>Leaside</li>
                            <li><strong>City/Town</strong>Toronto</li>
                            <li><strong>Zip Code</strong>M4B 1B4</li>
                            <li><strong>Company</strong></li>
                            <li class="wide"><strong>Network</strong>TORONTO-ONTARIO-CANADA</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-xs-12 col-sm-6">
                <div class="box">
                    <div class="caption">
                        <div class="help clearfix">
                            About Us
                            <a class="pull-right edit-link" href="#"><span class="w-icons-edit"></span>Edit Bio</a>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam
                            enim leo, egestas id, aliquam condimentum at, laoreet mattis, massa. Sed eleifend nonummy
                            diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh.</p>
                        <ul class="img-holder clearfix">
                            <li><a href="/img/img-1.jpg" rel="gallery1" class="fancybox-light"><img src="/img/img-1.jpg" alt=""/></a></li>
                            <li><a href="/img/img-2.jpg" rel="gallery1" class="fancybox-light"><img src="/img/img-2.jpg" alt=""/></a></li>
                            <li><a href="/img/img-3.jpg" rel="gallery1" class="fancybox-light"><img src="/img/img-3.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>