<div class="container mobile-grid-table">
  <h2 class="pushH2"><span class="w-icons-transactions"></span><span class="help">Transaction History</span></h2>
  <table class="table-Colorful color-3">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>From</th>
        <th>To</th>
        <!--   <th>Payment</th> -->
        <th>Transaction</th>
        <th>Amount (EEDS)</th>
        <th>Transaction Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          <div class="help">
            <div class="blueMark">
              Signup Bonus
            </div>
          </div>
        </td>
        <td>
          <div class="help">twoplugs</div>
        </td>
        <td>
          <div class="help">SK</div>
        </td>


        <td>
          <div class="help">
            <div class="typeCol">

              <span class="t_type Transfer">  Transfer</span>
            </div>
          </div>
        </td>

        <td>
          <div class="help">
            <div class="amountCol  up ">

              + 50
            </div>
          </div>
        </td>
        <td>
          <div>11:36PM
            <div class="date"> 25/05/2016</div>
          </div>
      </td>
<td>
<i title="refund" class="w-icons-dollar"></i>
<i title="File a complaint about this transaction" class="w-icons-flag"></i>
</td>
</tr>

</tbody>
</table>
<div class="colorfulHistoryTable">
  <ul class="clearfix">

    <li>
      <div class="historyRow">
        <span class="w-icons-tooltip" title="A transaction could be a sale, purchase, refund, transfer or canceled"></span>        Transaction
      </div>
    </li>
    <li>
      <div class="historyRow">
        <span class="w-icons-dollar small" title="Ask for a Refund"></span> Ask for a Refund</div>
    </li>
    <li>
      <div class="historyRow">
        <span class="w-icons-flag small" title="File a Complaint"></span> File a Complaint
      </div>
    </li>
  </ul>
</div>


</div>