<main class="power-of-eeds-main page-main">
		<section class="section-hero">
			<div class="container">
				<div class="relative-block">
					<div class="section-text-block">
						<div class="vcenter">
							<div class="vcenter-block">
								<h2>The power of eeds</h2>
								<p>You no longer need money to buy a service. spend eeds, the world first international barter
									currency</p>
							</div>
						</div>
					</div>
					<p class="slogan">Buy. Sell. Earn. Save</p>
				</div>
			</div>
		</section>
		<section class="section-2">
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-5 ">
							<h2>The Power of eeds</h2>
							<p>eed is the first international barter currency. Spending eeds allows you to save more and worry less about
								money. Read more to see how fixing your buddy's truck in Texas could earn you eeds that you can spend paying a
								tour guide in Mexico!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-img">
				<img src="assets/img/section2-img.jpg" alt="">
			</div>
		</section>
		<section class="section-3">
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-5 pull-right">
							<h2>Internationally Accepted</h2>
							<p>eed is the first digital barter currency that is accepted all over the world. We are currently operational
								in
								over 500 cities across the United States and Canada. We are expanding every day and will soon become the #1
								digital global currency.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-img">
				<img src="assets/img/section3-img.jpg" alt="">
			</div>
		</section>
		<section class="section-4">
			<div class="container">
				<div class="top-section">
					<h2>American Standard (USD)</h2>
					<p>The value of eed is equal to the value of your local currency. For example;  for a user living in California, 1 eed = 1 USD. So also for a user in Germany, 1 eed = 1 Euro. This allows for easy pricing of services. During international trade, the value of eeds will be based on the value of the user local currency compared to the American Dollar. </p>
				</div>
				<div class="american-standard-block">
					<div class="flag-box"></div>
					<div class="arrow-right"></div>
					<div class="arrow-down"></div>
					<div class="arrow-left"></div>
					<div class="arrow-up"></div>
					<div class="user-block top">
						<div class="vertical-middle-wrapper">
							<div class="center-user">
								<i class="ico-user light-user"></i>
							<span>
								<b>Juan</b> is from Mexico. He teaches spanish online for 100eeds. This equals 100 Mexican Peso (MXN)
							</span>
							</div>
						</div>
					</div>
					<div class="user-block right">
						<div class="vertical-middle-wrapper">
							<div class="center-user">
								<i class="ico-user dark-user"></i>
							<span>
								<b>Tom</b> will only pay 6 eeds as 1USD=18MXN<br/>*note: currency conversion is based on a daily market rate
							</span>
							</div>
						</div>
					</div>
					<div class="user-block bottom">
						<div class="vertical-middle-wrapper">
							<div class="center-user">
								<i class="ico-user light-user"></i>
							<span>
								<b>Juan</b> will receive 100 eeds in his account
							</span>
							</div>
						</div>
					</div>
					<div class="user-block left">
						<div class="vertical-middle-wrapper">
							<div class="center-user">
							<span>
								<b>Tom</b> is from USA. He has 20 eeds in his account. This equals to 20 USD. He wants to learn Spanish.
							</span>
								<i class="ico-user dark-user"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-5">
			<div class="container">
				<div class="relative-block">
					<div class="section-text-block">
						<div class="vcenter">
							<div class="vcenter-block">
								<h2>Secured</h2>
								<p>eed is a cryptographically secured electronic currency used for transactions within the twoplugs
									application. Its underlying technology is based on the concept of a digitally signed and encrypted token
									with strong auditing capabilities</p>
								<a href="/helparticles/3" class="c-button c-button-trans">Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-6">
			<div class="container">
				<div class="col-sm-6">
					<div class="simple-text-block">
						<h2>Cashing out</h2>
						<p>The more eeds you earn and spend, the more leverage the currency has. With currently over 30,000 eeds in daily transactions, the future of eeds is great. By reaching over a million eeds in daily transaction, you will be able to spend your eeds outside the twoPLUGS network. Popular Fast foods, Restaurants, Gas stations, Coffee shops, department stores will soon start accepting eeds.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="accepted-block">
						<p>WE ACCEPT<br>
							<span>EEDS</span></p>
					</div>
				</div>
			</div>
		</section>
		<section class="section-7">
			<div class="container">
				<div class="relative-block">
					<div class="section-text-block">
						<div class="vcenter">
							<div class="vcenter-block">
								<h2>Peace of Mind</h2>
								<p>We built eeds just for you. No more worrying about running out of money, or waiting anxiously for your
									next paycheque. Simply save your money and spend eeds. You have a skill somebody else needs, so start
									earning and spending eeds. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
